parameters:
	ignoreErrors:
		-
			message: '#^Comparison operation "\>" between 0 and 0 is always false\.$#'
			identifier: greater.alwaysFalse
			count: 1
			path: entity/ai/navigator/pathfinding/AStarPathFindingAlgorithm.php
