parameters:
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: argument.type
      path: src/skywars/GameTableType.php
  level: 6
  paths:
    - src
  scanDirectories:
    - vendor